.font{
   
    font-family: 'Days One', sans-serif;
    }
.btn-primary{
   background-color: #579646;
   border: 0;
}.btn-primary:hover{
   background-color: #3d752d;
   border: 0;
}


.float{
    text-align: center;
    position: relative;
    top: 150px;
    animation-iteration-count: infinite;
    animation-name: float_btn;
   animation-duration: 5s;
    transform: rotate3d(-1,0,0.1,25deg)
}

@keyframes float_btn{
    
    0%{transform: rotate3d(-1,0,0.1,25deg)}
    25%{transform: rotate3d(0, 0.1, 0, 25deg);}
    50%{transform: rotate3d(0, 0.1, 0, 25deg);}
    75%{transform: rotate3d(-1, 0, 0.1, 25deg);}
    
    
}




.anim1{ animation-iteration-count: infinite;
    animation-name: front;
    background-color:yellow;
         color:#333;
   animation-duration: 2.5s;
padding: 0px 10px 0px 5px;}


.anim2{ animation-iteration-count: infinite;
    animation-name: back;
   animation-duration: 2.5s;
background-color:#333;
    padding: 0px 10px 0px 5px;
         color:yellow;}


body{
     background-color: #E4F9F4
}
.typewriter h1{
    text-align: center;
    top: 100px;
    font-size: 15px;
   
    opacity: 0;
    font-family: 'Days One', sans-serif;
}
@keyframes front {
    0%{background-color:yellow;
         color:#333;}
     25%{background-color:#333;
         color:yellow;} 
    50%{background-color:#333;
         color:yellow;} 
    75%{background-color:yellow;
         color:#333;}
    
}
@keyframes back {
    0%{background-color:#333;
         color:yellow;}
     25%{background-color:yellow;
         color:#333;} 
    50%{background-color:yellow;
         color:#333;} 
    75%{background-color:#333;
         color:yellow;}
    
}
.mypic{
    height: 12%;
   
     position: fixed;
   
    
    
    
    
}

.top-cloud{
    position: relative;
  
    top: 80px;
    width: 8em;
    height: auto;
    animation-name: topcloud;
    animation-duration: 8s;
    animation-iteration-count: infinite
    
}
@keyframes topcloud{
    0%{ right: 0%;}
   
     50%{ right: 25%;}
     
    100%{ right: 0%;}
    
    
}
.bottom-cloud{
    position: relative;
    width: 5em;
    height: auto;
    top: 200px;
    text-align: center;
     animation-name: bottomcloud ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   
}
@keyframes bottomcloud{
       0%{ left: 0%;}
     50%{ left: 30%;}
    
    100%{ left: 0%;}
    
    
}
